/* LandingPage.css */

/* Estilo para la sección 1 */

.conteiner {
  display: flex;
  flex-direction: row;
}

.section1 {
  background-color: #2b2727;
  height: max-content;
  /* Restamos la altura de la Navbar */
  display: flex;

  align-items: center;
  justify-content: center;
  margin-top: 60px;
  padding: 20px;
}


.forex-box {
  display: flex;
  flex-direction: column;
  width: min-content;
  align-items: center;
}

.header {
  color: aqua;
  text-align: center;
}

.label-serch {
  color: #817878;
}

.input {
  border-radius: 4px;
}

/* Estilo para la sección 2 */
.section2 {
  background-color: #d3d3d3;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* Restamos la altura de la Navbar */

  /* align-items: center;
  justify-content: center; */
}

/* Estilo para el contenido de las secciones */
.section h1 {
  font-size: 3rem;
}

.more-btn {
  color: #d3d3d3;
  font-style: none;
}

.result {
  color: #d3d3d3;
}

.currenInfo {
  color: #d3d3d3;
}