.form-Style {
    align-items: center;
    width: 40%;
    align-content: center;
    margin-left: 30%;
    padding: 5%;
}

.color1 {
    color: rgb(112, 132, 132);
}

.color2 {
    color: beige;
}

.color3 {
    color: blue;
}

.currenInfo {
    color: aliceblue;
}

.container {
    align-items: center;
    width: 100vw;

}