.form-Style {
    align-items: center;
    width: 40%;
    align-content: center;
}

.color1 {
    color: aqua;
}

.color2 {
    color: beige;
}

.color3 {
    color: blue;
}

.currenInfo {
    color: aliceblue;
}